/* ChatWindow.module.css */
.chatWindow {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    padding-top: 3vh;
    background-color: #414131;
    gap: 10px;
    overflow-y: auto;
    height: 100%;
}

.chatWindow::-webkit-scrollbar {
    width: 10px;
}

.chatWindow::-webkit-scrollbar-track {
    background-color: black;

}

.chatWindow::-webkit-scrollbar-thumb {
    background-color: #803707;
}