.chatWindow{
    background-color: rgb(122, 15, 15);
    min-width: 200px;
    display: flex;
    height: 100%;
}

.title{
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}