.chatSidebar{
    position: relative;
    background-color: blue;
    width: 200px;
    height: 100%;
    padding-inline: 30px;
}

.toggleSidebar{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top:10px;
    right:10px;
}