.chatSidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(159, 36, 36);
    width: 250px;
    height: 100%;
    transition: all .5s;
    padding-left: 10px;
    border-right: 10px;
    border-color: black;
}

.collapsed {
    background-color: rgb(122, 15, 15);
    width: 50px;
}

.hidden{
    pointer-events: none;
    display: none;
    opacity: 0;
}

.toggleSidebar {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.messageList {
    margin: 0;
    padding: 0;
    margin-top: 10vh;
    gap: 2px;
    height:75vh;
    width: 85%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    list-style: none;
    overflow-y: auto;
    padding-right: 20px;
    overflow-x: hidden;
    transition: all ease-in-out .3s;
}

.messageList::-webkit-scrollbar {
    width: 8px;
}

.messageList::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 5px;
}

.messageList::-webkit-scrollbar-thumb {
    background-color: #c73838;
    border-radius: 5px;
}

.messageList::-webkit-scrollbar-thumb:hover {
    background-color: red;
}


.message {
    margin:0;
    cursor: pointer;
    padding-block: 20px;
    padding-inline: 10px;
    background-color: transparent;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    line-height: 100%;
    width: 100%;
}


.message:hover{
    background-color: #c73838;
}