.chatSidebar{
    position: relative;
    background-color: blue;
    width: 250px;
    height: 100%;
    padding-inline: 20px;
    transition: all .5s;
}

.collapsed{
    background-color: yellow;
    width: 50px;
}

.toggleSidebar{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top:10px;
    right:10px;
}

.messageList{
    margin-top: 20%;
    height: 80%;
    width: 80%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 20px;
    padding-top: 20px;
    list-style: none;
}

.message{
    text-wrap-mode: wrap;
}