.container {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 13vh;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-top: var(--border-width) solid var(--border-color);
}

.inputBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.imgSendIcon {
    width: 20px;
    height: 20px;
}

.no__messages {
    width: 40%;
    bottom: 50%;
    transform: translateY(50%);
    border-radius: 20px;
    background-color: var(--secondary-color);
}

.suggestions {
    position: absolute;
    bottom: calc(100% - 15px);
    padding: 10px;
    display: flex;
    gap: 10px;
    font-weight: 200;
}

.hidden {
    display: none;
}
