:root{
    height: 100vh;
    margin: 0;
    padding: 0;

    /* VARIABLES */
    --border-color: #332407;
    --border-width: 1px;
    --input-box-height: 10vh;
}

@font-face {
    font-family: "Quicking";
    src: url(./assets/Quicking.otf);
}

@font-face {
    font-family: "Legacy";
    src: url(../src/assets/Legacy.otf);
}

body, #root,html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: "Quicking";
}