.userProfile {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    background-color: black;
    color: white;
    width: 100%;
    height: 70px;
    margin-top: 10px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-left: 20px;
}

.username {
    margin-top: 10px;
    font-size: 18px;
    color: white;
    padding-right: 20px;
}