.message {
    display: flex;
    flex-direction: column;
    padding: 2px 10px;
    max-width: 25vw;
    border-radius: 2px;
    border: var(--border-width) solid var(--border-color);
    border-style: ridge;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
}

.assistant {
    background-color: blue;
    align-self: flex-end;
    text-align: right;
    margin-right: 2%;
}

.user {
    background-color: green;
    align-self: flex-start;
    text-align: left;
    margin-left: 2%;
}

.timestamp {
    margin: 0;
    padding: 0;
    font-size: 0.7em;
    color: white;
    margin-top: 3px;
}

.message_text {
    color: white;
    margin: 0;
    font-size: 1.2em;
    font-weight: 300;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-transform: capitalize;
}