.message{
    padding: 2px 10px;
    max-width: 35%;
    border-radius: 2px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.assistant{
    background-color: blue;
    align-self: flex-end;
    text-align: right;
}

.user{
    background-color: green;
    align-self: flex-start;
    text-align: left;
}

.timestamp{
    margin: 0;
    font-size: 0.7em;
    color: rgb(180, 176, 176);
}

.message_text{
    color: white;
    margin: 0;
    font-size: 1.2em;
    font-weight: 300;
    white-space: normal;         /* Asegura que el texto se envuelva */
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-transform: capitalize;
}