

.assistant {
    color: blue;
    background-color: blue;
    align-self: flex-end;
    text-align: right;
    margin-right: 2%;
}

.user {
    background-color: green;
    align-self: flex-start;
    text-align: left;
    margin-left: 2%;
}

.timestamp {
    margin: 0;
    padding: 0;
    font-size: 0.7em;
    color: black;
    margin-top: 3px;
}

.message_text {
    color: black;
    margin: 0;
    font-size: 1.2em;
    font-weight: 300;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-transform: capitalize;
    text-align: left;
}